.contact-page__header {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.contact-page__header .contact-page__figure-container {
  width: 100%;
  margin-bottom: 0.35em;
  display: flex;
  align-items: center;
  background-color: #c7ddea;
}
.contact-page__header .contact-page__h2 {
  position: relative;
  z-index: 5;
  left: 0.3em;
  width: 70%;
  font-family: "Frank Ruhl Libre", serif;
  font-size: 3rem;
  font-weight: 900;
}
.contact-page__header .contact-page__figure img {
  position: relative;
  right: 2em;
  width: 98%;
}

.contact-page__nav-container {
  width: 100%;
  margin-top: -0.5em;
  display: flex;
  text-align: center;
}
.contact-page__nav-container .contact-page__nav-list {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  list-style: none;
}
.contact-page__nav-container .contact-page__list-item {
  padding: 0.5em 1em;
  flex: 1 1 30%;
  background-color: #ececec;
  transition: all ease-in-out 200ms;
}
.contact-page__nav-container .contact-page__list-item:hover {
  background-color: #a9a19e;
}
.contact-page__nav-container .contact-page__list-item:hover .contact-page__list-link {
  color: #383838;
}
.contact-page__nav-container .contact-page__list-link {
  display: block;
  width: 100%;
  line-height: 4em;
  color: #808080;
}
.contact-page__nav-container .active {
  color: #383838;
  background-color: #dddbdb;
}
.contact-page__nav-container .active--link {
  color: #383838;
}

/* || Styling the buttons */
/* || Join button */
.contact-page__btn,
.join-btn {
  padding: 1.4em 4.5em;
  background-color: #fff;
  border-radius: 999px;
  border-style: none;
  box-shadow: 0 1px 2px #4c4c4d;
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  font-size: 0.7rem;
}
.contact-page__btn:hover,
.join-btn:hover {
  background-color: #ececec;
}

.contact-page__btn {
  padding: 1.3em 2.7em;
}

.contact-page__main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #a9a19e;
  color: #fafafa;
}
.contact-page__main .contact-page__h1 {
  width: 90%;
  margin: 0.5em 0 0.5em 0.6em;
  font-family: "Frank Ruhl Libre", serif;
  font-size: 2.5rem;
  font-weight: 900;
}
.contact-page__main .contact-page__form-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.contact-page__main .contact-page__form {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-page__main .contact-page__input-email {
  width: 95%;
  padding: 0.5em;
}
.contact-page__main .contact-page__textarea {
  width: 95%;
  padding: 0.5em;
  margin-bottom: 2em;
}
.contact-page__main .contact-page__textarea::-moz-placeholder {
  font-family: "Fira Sans", sans-serif;
  font-size: 1rem;
  color: black;
}
.contact-page__main .contact-page__textarea:-ms-input-placeholder {
  font-family: "Fira Sans", sans-serif;
  font-size: 1rem;
  color: black;
}
.contact-page__main .contact-page__textarea::placeholder {
  font-family: "Fira Sans", sans-serif;
  font-size: 1rem;
  color: black;
}
.contact-page__main .contact-page__label {
  align-self: flex-start;
  padding: 0.5em;
  margin-left: 0.8em;
}
.contact-page__main .contact-page__btn {
  align-self: flex-end;
}

.contact-page__footer {
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-page__address-container {
  position: absolute;
  width: 80%;
  z-index: 20;
  background-color: #fab131;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 1em 7em 1em;
}

.contact-page__h3 {
  font-family: "Frank Ruhl Libre", serif;
  font-size: 2.8rem;
  font-weight: 900;
}

.contact-page__txt {
  padding-top: 0.8em;
}

.contact-page__footer-figure {
  width: 100%;
  position: absolute;
  display: flex;
}

.contact-page__footer img {
  border-top: 2px solid white;
  position: absolute;
  width: 100%;
}

body {
  background-color: #4c4c4d;
  font-family: "Fira Sans", sans-serif;
  font-size: 1rem;
  font-weight: 700;
}
body a:link {
  text-decoration: none;
}
body a:visited {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .contact-page__header {
    margin: 0 auto;
    max-width: 1366px;
    display: flex;
  }
  .contact-page__figure-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .contact-page__h2 {
    position: static;
    text-align: center;
    flex: 0 1 50%;
  }
  .contact-page__nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ececec;
    text-align: center;
  }
  .contact-page__list-item:nth-child(4) {
    background-color: #ececec;
  }
  .contact-page__list-item:nth-child(1),
.contact-page__list-item:nth-child(2),
.contact-page__list-item:nth-child(3),
.contact-page__list-item:nth-child(4) {
    flex: 0 1 16.5%;
    padding: 0;
    margin-left: -15em;
    margin-right: -15em;
  }
  .contact-page__list-link {
    color: #808080;
  }
  .contact-page__main {
    margin: 0 auto;
    max-width: 1366px;
    display: flex;
    flex-direction: row;
    height: 80vh;
    align-items: flex-start;
  }
  .contact-page__form-container {
    flex: 0 1 60%;
  }
  .contact-page__h1 {
    padding-top: 2em;
    padding-left: 3.5em;
    flex: 0 1 30%;
  }
  .contact-page__form {
    margin-top: 6.7em;
    flex: 0 1 50%;
    padding-top: 1.2em;
  }
  .contact-page__footer {
    max-width: 1366px;
    height: 110vh;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    background-color: #6f6f6f;
  }
  .contact-page__address-container {
    width: 26%;
    position: absolute;
    margin-left: 5em;
    margin-top: -26em;
    padding: 3em 1em 3em 1em;
  }
  .contact-page__h3 {
    padding-bottom: 0.2em;
  }
  .contact-page__txt {
    padding-bottom: 1em;
  }
  .contact-page__footer-figure {
    position: relative;
    display: flex;
    width: 100%;
    margin-top: -17em;
  }
  .contact-page__footer img {
    margin-top: 0;
    position: static;
    width: 100%;
    border: none;
  }
}/*# sourceMappingURL=contact.css.map */