@charset "UTF-8";
/* || Styling the header block */
/* || Header content, The main content of the header */
.header-content {
  display: flex;
  flex-direction: column;
  background-color: #c7ddea;
  padding: 1em 1em 0 1em;
  position: relative;
}
.header-content p {
  line-height: 1.5em;
  font-weight: 600;
  color: #303031;
  margin-bottom: 3em;
}

.header-content_highlight {
  color: #fff;
}
.header-content_highlight::before {
  content: "$";
}

.header-title {
  font-family: "Frank Ruhl Libre", serif;
  font-size: 4rem;
  font-weight: 900;
  margin: 1em 0 0.5em 0;
  color: #000;
}

.join-btn {
  align-self: flex-start;
}

.header-image {
  align-self: flex-end;
  /* TODO: Bildens position ska vara i botten till höger i rutan. Nedan verkar inte fungera. */
  max-width: 100%;
}

/* || The side elements of the header */
.sides-content {
  padding: 12em 5em;
  text-align: center;
  font-size: 0.8rem;
}

.sides-content_red {
  background-color: #f17949;
}

.sides-content_orange {
  background-color: #fab131;
}

.sides-title {
  font-family: "Frank Ruhl Libre", serif;
  font-weight: 700;
  font-size: 2.5rem;
  color: #fff;
  padding: 0.3em;
}

/* || Styling the navigation bar */
.page-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #e9e9e9;
  line-height: 4em;
  z-index: 100;
}

.nav-list {
  display: flex;
  justify-content: space-evenly;
}

.list-item {
  flex: 1 1 40%;
  text-align: center;
}
.list-item:hover {
  background-color: #a9a19e;
}
.list-item:hover .list-link {
  color: #202020;
}

.list-link {
  text-decoration: none;
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  color: #a9a19e;
}

.link-active {
  color: #202020;
}

/* Styling of the main content of the page */
/* the main content*/
.page-content-main {
  background-color: #a9a19e;
  padding: 1em 1em 4em 1em;
}
.page-content-main .join-btn {
  display: none;
}
.page-content-main p {
  line-height: 1.5em;
  font-size: 1.1rem;
}

.steps-title,
.about-title,
.main-title {
  font-family: "Frank Ruhl Libre", serif;
  font-size: 3.5rem;
  color: #fff;
  margin: 0.5em 0;
}

.page-content-about {
  background-color: #fab131;
  padding: 1em 2em 4em 2em;
  text-align: center;
}
.page-content-about p {
  line-height: 1.5em;
  font-size: 1.1rem;
  padding: 1em;
}

/* Steps */
.steps-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #fff;
}

.steps-item {
  flex: 1 1 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  padding-bottom: 3em;
  border: 1px solid black; /* TODO: border for Debug, remove when done*/
  /* Changes background color of the first list item (step-title) to blue*/
  /* Changes the backgrpundcolor of 3rd list item (step 02) to same as page background*/
  /* Changes the backgroundcolor of the 5th list item (step 04) to red*/
}
.steps-item:nth-of-type(1) {
  background-color: #c7ddea;
}
.steps-item:nth-of-type(3) {
  background-color: #a9a19e;
}
.steps-item:nth-of-type(5) {
  background-color: #f17949;
}

.steps-title {
  color: #303031;
  margin: 0;
}

.steps-counter {
  align-self: flex-start;
  font-family: "Frank Ruhl Libre", serif;
  font-weight: 700;
  font-size: 2.5rem;
  color: #a9a19e;
}

/* Styling of the footer*/
.page-footer {
  width: 100%;
  background-color: rgb(119, 119, 119);
  padding-bottom: 10em;
}

.footer-nav-link {
  display: block;
  background-color: #a9a19e;
  width: 100%;
  line-height: 4em;
  text-align: center;
  text-decoration: none;
  color: #303031;
  position: relative;
}
.footer-nav-link::before {
  content: "^";
  position: absolute;
  top: -0.1em;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2em;
}

/* || Styling the buttons */
/* || Join button */
.join-btn {
  padding: 1.4em 4.5em;
  background-color: #fff;
  border-radius: 999px;
  border-style: none;
  box-shadow: 0 1px 2px #303031;
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  font-size: 0.7rem;
}
.join-btn:hover {
  background-color: #a9a19e;
  color: #fff;
}

/* The styling of the product cards in the main article */
.product-wrapper {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  gap: 2em;
}

.product-card {
  flex: 0 1 300px;
  background-color: #fff;
  border-radius: 0.5em;
  text-align: center;
  padding: 1em;
  margin-top: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-title {
  font-family: "Frank Ruhl Libre", serif;
  font-weight: 600;
  font-size: 1.2rem;
  color: #000;
  padding: 1em;
}

.product-description {
  font-size: 0.8rem;
  color: #a9a19e;
  line-height: 1.5em;
  margin-bottom: 2em;
}

.product-image-container {
  position: relative;
  top: -3em;
  width: 95%;
  max-height: 40%;
  overflow: hidden;
  border-radius: 0.5em;
}

.product-image {
  width: 40%;
  margin: 2em;
}

.product-image-container_blue {
  background-color: #c7ddea;
}

.product-image-container_orange {
  background-color: #fab131;
}

.product-image-container_red {
  background-color: #f17949;
}

body {
  background-color: #e9e9e9;
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  color: #303031;
}

@media screen and (min-width: 768px) {
  .page-header,
.page-nav,
.page-wrapper,
.page-footer {
    width: 80%;
    margin: 0 auto;
    position: relative;
  }
}/*# sourceMappingURL=main.css.map */