@use "abstract/variables" as *;

@use "layout/header-contact";

@use "layout/nav-contact";

@use "layout/main-contact";

@use "layout/footer-contact";

body { 
  background-color: $contact-background-clr;

  font-family: $font-text;
  font-size: $font-text--size;
  font-weight: $font-text--bold;

  a:link {
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;
  }
}

@media screen and (min-width: 768px) {

  .contact-page__header {
    margin: 0 auto;
    max-width: 1366px;
    display: flex;
  }

  .contact-page__figure-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .contact-page__h2 {
    position: static;
    text-align: center;
    flex: 0 1 50%;
  }

  .contact-page__nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $nav-background-clr;
  }

  .contact-page__list-item:nth-child(4) {
    background-color: $nav-background-clr;
  }

  .contact-page__list-item:nth-child(1),
  .contact-page__list-item:nth-child(2),
  .contact-page__list-item:nth-child(3),
  .contact-page__list-item:nth-child(4) {
    flex: 0 1 10%;
    margin-left: -15em;
    margin-right: -15em;
  }

  .contact-page__list-link {
    color: #808080;
  }

  .contact-page__main {
    margin: 0 auto;
    max-width: 1366px;
    display: flex;
    flex-direction: row;
    height: 80vh;
    align-items:flex-start
  }

  .contact-page__form-container {
    flex: 0 1 60%;
  }

  .contact-page__h1 {
    padding-top: 2em;
    padding-left: 3.5em;
    flex: 0 1 30%;
  }

  .contact-page__form {
    margin-top: 6.7em;
    flex: 0 1 50%;
    padding-top: 1.2em;
  }

  .contact-page__footer {
    max-width: 1366px;
    height: 110vh;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    background-color: #6f6f6f;
  }

  .contact-page__address-container {
    width: 26%;
    position: absolute;
    margin-left: 5em;
    margin-top: -26em;
    padding: 3em 1em 3em 1em;
  }

  .contact-page__h3 {
    padding-bottom: 0.2em;
  }

  .contact-page__txt {
    padding-bottom: 1em;
  }

  .contact-page__footer-figure {
    position: relative;
    display: flex;
    width: 100%;
    margin-top: -17em;
  }

  .contact-page__footer img {
    margin-top: 0;
    position: static;
    width: 100%;
    border: none;
  }


}