@use "abstract/variables" as *;

@use "layout/header";

@use "layout/navbar";

@use "layout/page-content";

@use "layout/footer";

@use "components/buttons";

@use "components/product-card";

html {
  scroll-behavior: smooth;
}

body {
  background-color: $background-clr;
  font-family: $font-text;
  font-weight: 600;
  color: $contact-background-clr;
}

@media screen and (min-width: 768px) {
  .page-header,
  .page-nav,
  .page-wrapper,
  .page-footer {
    max-width: 1366px;
    margin: 0 auto;
    position: relative;
  }

  /* || header, additional styling for when in desktop mode*/
  .page-header {
    flex-direction: row;
  }
  .header-content,
  .header-sides {
    flex: 1 1 50%;
  }
  .header-content {
    padding-left: 8em;
    padding-top: 4em;
  }
  .header-title {
    font-size: 3rem;
  }
  .header-image {
    max-width: 60%;
    position: absolute;
    bottom: 0;
    right: 2em;
  }
  .header-text {
    width: 60%;
  }

  .nav-list {
    // display: flex;
    justify-content: center;
  }
  .list-item {
    flex: 0 1 15%;
  }
  /* || main, additional styling for when in desktop mode */

  .page-content-main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2em;
    padding: 8em 10em 4em 10em;
    .join-btn {
      display: inline-block;
    }
  }
  .main-title {
    font-size: 4rem;
  }

  .content-title-btn-wrapper,
  .main-text {
    flex: 1 1 45%;
  }
  .steps-counter {
    padding-bottom: 3em;
  }
  .steps-item {
    padding-bottom: 10em;
  }

  .product-wrapper {
    flex: 1 1 100%;
  }

  .about-text {
    width: 50%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .product-wrapper {
    position: absolute;
    bottom: -30%;
    left: 5%;
  }
  .page-content-main {
    padding-bottom: 15em;
  }
  .page-content-about {
    padding-top: 15em;
  }
}
