@use "abstract/variables" as *;

@use "layout/header";

@use "layout/navbar";

@use "layout/footer";

@use "components/buttons";

@use "components/product-card";

body {
  background-color: $background-clr;
  font-family: $font-text;
  font-weight: 600;
  color: $contact-background-clr;
}
