@use "abstract/variables" as *;

@use "layout/header";

@use "layout/navbar";

@use "layout/page-content";

@use "layout/footer";

@use "components/buttons";

@use "components/product-card";

body {
  background-color: $background-clr;
  font-family: $font-text;
  font-weight: 600;
  color: $contact-background-clr;
}

@media screen and (min-width: 768px) {
  .page-header,
  .page-nav,
  .page-wrapper,
  .page-footer {
    width: 80%;
    margin: 0 auto;
    position: relative;
  }
}
