@use "../abstract/variables" as *;

.contact-page__footer {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-page__address-container {
  margin-top: -8.5em;
  width: 80%;
  z-index: 20;
  background-color: $orangecard-clr;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em 2em 5em 2em;
}

.contact-page__h3 {
  font-family: $font-title;
  font-size: $font-title--size;
  font-weight: $font-title--xbold;
}

.contact-page__footer img {
  position: absolute;
  margin-top: 10em;
  width: 100%;
}