/* || Styling the header block */

@use "../abstract/variables" as *;

.header-content {
  background-color: $bluecard-clr;
  padding: 1em 1em 0 1em;
  position: relative;
  p {
    line-height: 1.5em;
    font-weight: 600;
    color: $contact-background-clr;
    margin-bottom: 3em;
  }
}
.header-title {
  font-family: $font-title;
  font-size: 4rem;
  font-weight: 900;
  margin: 1em 0 0.5em 0;
}
.header-image {
  /* TODO: Bildens position ska vara i botten till höger i rutan. Nedan verkar inte fungera. */
  max-width: 400px;
  position: relative;
  bottom: 0;
  right: 0;
}
