@use "../abstract/variables" as *;

.contact-page__header {
  width: 100%;
  display: flex;
  flex-direction: column;
  
  
  .contact-page__figure-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: $bluecard-clr;
  }

  .contact-page__h2 {
    position: absolute;
    z-index: 5;
    left: 0.2em;
    width: 60%;
    font-family: $font-title;
    font-size: $font-title--size;
    font-weight: $font-title--xbold;
  }

  .contact-page__figure img {
    width: 94%;
  }
}