/* || Styling the header block */

@use "../abstract/variables" as *;

/* || Header content, The main content of the header */

.header-content {
  background-color: $bluecard-clr;
  padding: 1em 1em 0 1em;
  position: relative;
  p {
    line-height: 1.5em;
    font-weight: 600;
    color: $contact-background-clr;
    margin-bottom: 3em;
  }
}
.header-content_highlight {
  color: #fff;
  &::before {
    content: "$";
  }
}
.header-title {
  font-family: $font-title;
  font-size: 4rem;
  font-weight: 900;
  margin: 1em 0 0.5em 0;
  color: #000;
}
.header-image {
  /* TODO: Bildens position ska vara i botten till höger i rutan. Nedan verkar inte fungera. */
  max-width: 400px;
  position: relative;
  bottom: 0;
  right: 0;
}

/* || The side elements of the header */

.sides-content {
  padding: 12em 5em;
  text-align: center;
  font-size: 0.8rem;
}

.sides-content_red {
  background-color: $redcard-clr;
}
.sides-content_orange {
  background-color: $orangecard-clr;
}
.sides-title {
  font-family: $font-title;
  font-weight: 700;
  font-size: 2.5rem;
  color: #fff;
  padding: 0.3em;
}
