/* || Styling the navigation bar */

@use "../abstract/variables" as *;

.page-nav {
  width: 80%;
  background-color: $background-clr;
  line-height: 4em;
  margin: 0 auto;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.list-item {
  flex: 1 1 40%;
  text-align: center;
  &:hover {
    background-color: $main-background-clr;
    .list-link {
      color: #202020;
    }
  }
}
.list-link {
  text-decoration: none;
  font-family: $font-text;
  font-weight: 600;
  color: $greycard-clr;
}
.link-active {
  color: #202020;
}
