@use "../abstract/variables" as *;

.contact-page__nav-container {
  width: 100%;
  margin-top: -.5em;
  display: flex;
  text-align: center;


  .contact-page__nav-list {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style: none;
  }

  .contact-page__list-item {
    padding: 2em 2em;
    flex: 1 0 100px;
    background-color: $nav-background-clr;

    &:hover {
        background-color: $greycard-clr;

        .contact-page__list-link {
        color: $active-txt-clr;
      }
    }
  }

  .contact-page__list-link {
    color: #808080;
  }

  .active {
    color: $active-txt-clr;
    background-color: $active-background-clr;
  }

  .active--link {
    color: $active-txt-clr;

  }
}