@use "../abstract/variables" as *;
// TODO: Fixa så att länkingen till variabler fungerar
.page-nav {
  width: 80%;
  background-color: $background-clr;
  line-height: 4em;
}

.nav-list {
  display: flex;
  justify-content: space-evenly;
}

.list-item {
  flex: 1 1 25%;
  text-align: center;
}
.list-link {
  text-decoration: none;
}
