/* Styling of the main content of the page */

@use "../abstract/variables" as *;

/* the main content*/

.page-content-main {
  background-color: $greycard-clr;
  padding: 1em 1em 4em 1em;
  .join-btn {
    display: none;
  }
  p {
    line-height: 1.5em;
    font-size: 1.1rem;
  }
}
.steps-title,
.about-title,
.main-title {
  font-family: $font-title;
  font-size: 3.5rem;
  color: #fff;
  margin: 0.5em 0;
}

.page-content-about {
  background-color: $orangecard-clr;
  padding: 1em 2em 4em 2em;
  text-align: center;
}
.about-text {
  line-height: 1.5em;
  font-size: 1.1rem;
  padding: 1em;
}

/* Steps */

.steps-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  // align-items: center;
  background-color: #fff;
}
.steps-item {
  flex: 1 1 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  padding-bottom: 5em;
  border: 1px solid black; /* TODO: border for Debug, remove when done*/

  &:nth-of-type(1) {
    background-color: $bluecard-clr;
    padding: 2em 1em;
  } /* Changes background color of the first list item (step-title) to blue*/

  &:nth-of-type(3) {
    background-color: $background-clr;
  } /* Changes the backgrpundcolor of 3rd list item (step 02) to same as page background*/

  &:nth-of-type(5) {
    background-color: $redcard-clr;
  } /* Changes the backgroundcolor of the 5th list item (step 04) to red*/
}

.steps-title {
  color: $contact-background-clr;
  margin: 0;
  // padding: 2em;
}
.steps-counter {
  align-self: flex-start;
  font-family: $font-title;
  font-weight: 700;
  font-size: 2.5rem;
  color: $greycard-clr;
  padding-bottom: 0.3em;
}
