/* The styling of the product cards in the main article */

@use "../abstract/variables" as *;

.product-wrapper {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  gap: 2em;
}

.product-card {
  flex: 0 1 300px;

  background-color: #fff;

  border-radius: 0.5em;
  text-align: center;
  padding: 1em;
  margin-top: 4em;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-title {
  font-family: $font-title;
  font-weight: 600;
  font-size: 1.2rem;
  color: #000;
  padding: 1em;
}

.product-description {
  font-size: 0.8rem;
  color: $greycard-clr;
  line-height: 1.5em;
  margin-bottom: 2em;
}
.product-image-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  top: -3em;
  width: 95%;
  max-height: 40%;
  // overflow: hidden;

  border-radius: 0.5em;
}

.product-image {
  max-width: 60%;
  margin-top: 2em;
}
.product-image-container_blue {
  background-color: $bluecard-clr;
}
.product-image-container_orange {
  background-color: $orangecard-clr;
}
.product-image-container_red {
  background-color: $redcard-clr;
}
